body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .center {
    text-align: center;
    vertical-align: middle;
}
.promo {
    width: 100%;
}
.promo i {
    margin: 40px 0;
    color: #ee6e73;
    font-size: 7rem;
    display: block;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.promo-caption {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}
.nav-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-bottom: 0px;
    z-index: 998;
  }
  #map {
            height: 450px;
            width: 100%;
        }
nav {
  color: #fff;
  background-color: #ee6e73;
  width: 100%;
  height: 65px;
  line-height: 65px;
}
#back_to_top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}
p.center{
    text-align:center; 
    vertical-align:middle; 
}
